body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#map-container {
    width: 50%;
    height: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-container,
#emergency-container {
    padding: 10px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

#search-input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#info-container {
    padding: 20px;
    background-color: #ddd;
    text-align: center;
}

.info-text{
    padding: 20px;
    text-align: center;
}
